@import 'variables';
.buttons{
	background-color: transparent;
	border: none;
	text-align: center;
	border: solid black 1px;
	border-radius: 5px;
}
.button-hover{
	background-color: $mainColorTransparent;
}
.general-li{
	list-style: none;
}


.general-ul{
	padding: 0px;
	margin: 0px;
}