@import './directives/extenders';
@import './directives/variables';
@import './directives/mixins';

#festivals-content{
	@include animation(fadeIn .5s);
	@extend .general-content;

	.festival-col{
		#festivals{
			border-top: 3px solid white;
			border-bottom: 3px solid white;
			@include heightWidth(600px, 90%);
			overflow: auto;
		}
		li{
			@extend .general-li;
		}
		@include column(500px, 45%);
	}
	
	#festivals-map{
		top: 15px;
		border: 3px solid white;
		border-radius: 5px;
		@include heightWidth(500px, 48%);
	}
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}