@import './directives/extenders';
@import './directives/variables';
@import './directives/mixins';

#recipes-content{
	@include animation(fadeIn .5s);
	@extend .general-content;
	
	#search-beers{
		@extend .general-input-box;
	}
	#beer-list{
		#beers{
			@extend .general-ul;

			.beer-buttons{
				@extend .buttons;
				@extend .list-of-buttons;


				&:hover{
					@extend .button-hover;
				}

				li{
					@extend .general-li;
				}
			}
		}
		.submit-recipe{
			@extend .buttons;

			position: relative;	
			text-decoration: none;
			color: black;
			left: 60%;

			@media screen and(max-width: $midScreen){
				left: 40%;
			}
			@media screen and(max-width: $smallScreen){
				left: 10%;
			}
		}
	}

	#recipes{
		display: none;
		@extend .general-ul;

		.close{
			@extend .buttons;
			@extend .close-button;

			@include heightWidth(30px, 30px);

			&:hover{
				@extend .button-hover;
			}
		}

		.recipe-buttons{
			@extend .buttons;
			@extend .list-of-buttons;

			width: 15%;

			&:hover{
				@extend .button-hover;
			}
			li{
				@extend .general-li;
			}
		}
	}

	@media screen and (max-width: $midScreen){
		font-size: 12px;
	}

	@media screen and (max-width: $smallScreen){
		font-size: 6px;
	}
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}