@import './directives/extenders';
@import './directives/variables';
@import './directives/mixins';

#user-profile-content{
	@include animation(fadeIn .5s);
	@extend .general-content;

	#logout-button{
		float: right;
		@extend .buttons;
	}
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}