@import '../scss/extenders';
#content{
	@extend .general-content;
	
	padding: 15px;

	#beers{
		@extend .general-ul;

		.beer-buttons{
			@extend .buttons;

			float: left;
			display: inline-block;
			width: 25%;
			margin: 3% 3%;

			&:hover{
				@extend .button-hover;
			}

			li{
				@extend .general-li;
			}
		}
	}

	#recipes{
		display: none;
		@extend .general-ul;

		.close{
			@extend .buttons;
			@extend .close-button;
		}

		li{
			@extend .general-li;
		}
	}
}