@import 'variables';

body{
	background-color: $mainBackgroundColor;
	background-image: url(../../photos/LogoWhite.png);
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.general-content{
	position: relative;
	top: 70px;
	padding: 15px;
}

.list-of-buttons{
	float: left;
	display: inline-block;
	width: 25%;
	margin: 3% 3%;
}

.buttons{
	background-color: transparent;
	border: none;
	padding: 5px 5px 5px;
	text-align: center;
	border: solid black 1px;
	border-radius: 5px;
}

.close-button{
	padding: 5px;
}

.button-hover{
	background-color: $mainColorTransparent;
}
.general-li{
	list-style: none;
}


.general-ul{
	padding: 0px;
	margin: 0px;
}

.general-input-box{
	border: 2px solid $borderColor;
	border-radius: 5px;
	margin: 10px 5px 10px;
}