@import '../scss/extenders';
@import '../scss/variables';

#navigation-bar{
	z-index: 25;
	width: 100%;
	position: fixed;
	float: left;

	background-color: $mainColor;
	ul{	
		padding-left: 5px;
		li{
			margin: 0px 20px 0px 20px;
			button{
				padding: 0px;
				display: inline-block;
				background-color: transparent;
				border: none;
				color: $navigationFontColor;
			}
			a{
				color: $navigationFontColor;
				text-decoration: none;
			}
			&:hover{
				border-bottom: 1px solid $navigationFontColor;
			}
			display: inline;
			@extend .general-li;
		}
	}
}

#home-content{
	.login-input-box{
		@extend .general-input-box;
	}
}